* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
font-family: 'Montserrat', sans-serif;
background-color:  #390707;
color: white;
background-image: url("pictures/main-pic.jpg"); 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav {
position: absolute;
top:0;
left: 0;
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
background: rgb(96, 21, 21);
justify-content: space-between;
white-space:nowrap; 
display: flex;
align-items: center;
padding-right: 30px;
}

.nav a {
position: relative;
text-decoration: none;
font-weight: 500;
color: white;
font-size: 16px;
margin-left: 40px;
}

.nav a::before{
content: '';
position: absolute;
top: 100%;
left: 0;
width: 0;
height: 2px;
background: white;
transition: .3s;
}

.nav a:hover:before{
width: 100%;
}

.logo{
font-family: Caveat;
color: white;
font-size: 45px;
font-weight: 800;
margin-left: 45px;
margin-top: 5px;
padding-bottom: 5px;
padding-top: 0;
}

.logo-link {
text-decoration: none; /* Tar bort understrykning */
}

.logo-link .logo {
cursor: pointer; /* Ändrar muspekaren till en hand vid hover */
transition: transform 0.2s ease-in-out;
}

.logo-link .logo:hover {
transform: scale(1.05); /* Liten förstoring vid hover */
}

section {
    width: 100%;
    min-height: 100vh;  
    background-color:  #390707;
}

.main-page section {
    background-color: transparent;
}

main {
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

article {
    width: 55%;
}

.main-page article {
    width: 55%;
    margin-left: auto; /* Push to the right */
    text-align: right; /* Align text */
}

figure {
    margin-top: 100px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 5px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: Caveat;
    color: rgb(255, 255, 255);
}

article h3 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: Montserrat, sans-serif;
}

article p {
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
}

.main-page article p {
    width: 55%;
    margin-left: auto; /* Push to the right */
    text-align: right; /* Align text */
}

.welcome {
    font-weight: bold;
}

.center-content{
    float: right;    
    border: none;
    padding-top: 90px;
    padding-right: 50px;
    margin-top: 10%;
    max-width: 100%;
}

.main-text {
    background: transparent;
    top: 200px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Avstånd mellan knapparna */
    margin-top: 20px; /* Justera avståndet från texten */
}

.main-page .button-container {
    align-items: flex-end; /* Move buttons to the right */
}

.btn {
    width: 450px;
    height: 50px;
    padding: 15px 15px; 
    font-size: 16px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    background: rgb(208, 30, 30);
    cursor: pointer;
    text-align: center;
}

h1 {
    font-size: 150px;
    margin: 0;
    font-family: Caveat;
}

p {
    font-size: 18px;
    margin-top: 10px;
    width: 478px;
}

/*.center-content .btn{
    display: flex;
    width: 300px;
    height: 50px;
    padding: 15px 0px; 
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 12px;
    background: rgb(208, 30, 30);
    color: white;
    z-index: 1;
    position: absolute;
    margin-top: 130px;
    margin-left: 45px;
    text-decoration: none;
    top: 200px;
}/*/

.footer {
    position: absolute;
    bottom: 20px;
    right: 45px;
    font-size: 14px;
}